/* UNIVERSAL SELECTOR 
* {
    
}
*/
body {
    background-color: #d1bb82;
}

:root {
    --red-color: #5d0006;
}

/* TYPE SELECTOR */
blockquote {
    font-size: 120%;
    color: #636325;
}

#cover_img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: -1em;
}

h1 {
    font-family: sans-serif;
    color: var(--red-color);
    font-weight: 800;
}

h2 {
    color: var(--red-color);
    font-family: sans-serif;
    font-weight: 500;
}

h3,
p,
li,
blockquote {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav {
    clear: left;
}

ul a {
    color: #025602;
}

a:hover {
    color: var(--red-color); 
}


/* ID SELECTOR
#git_header {
    color: red;
}
*/

/* CLASS SELECTOR
.first_step {
    color: teal;
}
*/