/* UNIVERSAL SELECTOR 
* {
    
}

:root {
  height: 100%;
  font-family:Arial, Helvetica, sans-serif;
  background: linear-gradient(120deg, red 0%, white 100%);
}

body {
  background-color: #ffd7d7;
  padding: 100px 150px 100px;
  margin: 100px 200px 100px;
  border: 10px dashed white;
  border-radius: 100px;
}
*/
:root {
    --red-color: #5d0006;
    background-color: #636325;
    background: linear-gradient(180deg, #3ca11d00 0%, #000000 100%), url("img/map.jpg");
}

body {
    background-color: #e6c569;
    margin: 100px;
    padding: 0px 100px 100px;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 100px;

}

/* TYPE SELECTOR */
blockquote {
    font-size: 120%;
    padding: 65px 0px 0px 210px;

}

#cover_img {
    width: 50%;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-left: -1em;
    border: 5px solid #303830;
}

h1 {
    font-family: sans-serif;
    color: var(--red-color);
    font-weight: 800;
    text-align: center;
}

h2 {
    color: var(--red-color);
    font-family: sans-serif;
    font-weight: 500;
}

h3,
p,
li,
blockquote {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav {
    clear: left;
}

ul {
    padding-left: 2em;
}

ul a {
    color: #025602;
}

a:hover {
    color: var(--red-color);
}

.column {
    column-count: 2;
}

footer {
    text-align: right;
    font-size: 70%;
}


/* ID SELECTOR
#git_header {
    color: red;
}
*/

/* CLASS SELECTOR
.first_step {
    color: teal;
}
*/